@import url(http://fonts.googleapis.com/css?family=Coming+Soon);

html, body {
	height: 100%;
	font-family: sans-serif;
}

	/* HEADER */

	header {
		height: 60px;
		background-color: #9F9F9F;
		line-height: 100%;
	}

		.header-text {
		    margin: 0;
		    padding-left: 4px;
		    text-align: center;
		    font-size: 30px;
		    line-height: 60px;
		}

		.header-logout {
		    margin: 0;
            margin-right: 20px;
		    text-align: right;
            float: right;
		    font-size: 16px;
		    line-height: 60px;
		   	font-weight: bold;
		   	color: #333;
		}
		.header-logout:hover {
			color: #333;
			text-decoration: none;
		}

	/* MAIN CONTENT */

	.wrapper {
		padding: 60px 0 40px 0;
	}

		h2.main-content-title {
			font-size: 20px;
			margin-bottom: 20px;
		}

	/* FOOTER */

	footer {
		width: 100%;
	    height: 40px;
	    position: fixed;
	    bottom: 0;
	    padding-top: 6px;
	    background-color: #9F9F9F;
	    font-size: 25px;
	}

	footer a, footer a:hover {
	    color: #333;
	    text-decoration: none;
	}
