<% if false %>
  <div class="center hero-unit">
    <h1>Welcome to the Sample App</h1>
    <h2>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>
<div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 txt-center">
  <div class="col-xs-4">
    <span class="glyphicon glyphicon-share main-icon"></span>
  </div>
  <div class="col-xs-8">
    <span class="">
      Compartilhe
      <span class="glyphicon glyphicon-map-marker another-icon"></span>
    </span>
  </div>
</div>
<div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 btn-pdg">
  <div class="col-xs-6">
    <%= link_to "Sign up now!", signup_path, class: "btn btn-default" %>
  </div>
  <div class="col-xs-6">
    <%= link_to "Sign in", signin_path, class: "btn btn-default" %>
  </div>
</div>
