<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td>Active</td>
  <td>
    <% unless user.admin? %>
      <button type="submit" class="btn btn-default">
        deny
      </button>
    <% end %>
  </td>
</tr>
