<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <% if user.active? %>
    <td>Ativo</td>
  <% else %>
    <td>Inativo</td>
  <% end %>
  <td>
    <% unless user.admin? %>
      <% if user.active? %>
        <%= link_to "deny", deny_user_path(user), method: :post, confirm: "You sure?", class: "btn btn-default"  %>
      <% else %>
        <%= link_to "allow", allow_user_path(user), method: :post, confirm: "You sure?", class: "btn btn-default" %>
      <% end %>
    <% end %>
  </td>
</tr>
