.content-meu{
    /*height: 100%;*/
    /*height: _n_;*/
}

    .header-main{
        margin-top:0;
        text-align: center;
        padding-top: 1%;
        padding-bottom: 2%;
        background-color: #9F9F9F
    }

        .content-main{
            padding-top: 15%;
        }

            #button{
                  /*margin: 0 auto;*/
            }

            .forgot{
                text-align: center;
                /*margin: 0 auto;*/
            }

.footer-background{
    width: 130%;
    height: 40px;
    margin-left: -15%;
    position: absolute;
    bottom: 0;
    background-color: #9F9F9F
}
