    .header-main{
        margin-top:0;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #9F9F9F;
        font-size: 25px;
    }

            .link-newstatus{
                color: #555;
            }
            .icon-status{
                text-align: center;
            }
            .text-content{
                font-size: 15px;
                text-align: center;
            }

.footer-menu{
    /*margin: 0;*/
    padding: 0px 0px 0px 0px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #9F9F9F;
    font-size:25px;
}

    .icon-menu{
        text-align: center;
    }
        .icon-style{
            color: #555;
        }
