<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=320, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/statuses.css">
    <title>Home - Colé de merma RU</title>
</head>
<body>
    <header>
      <div>
        <p class="header-text">
          Colé de Merma do RU
          <a class="header-logout" href="">Logout</a>
        </p>
      </div>
    </header>

    <div class="wrapper">
        <section class="container">
        </section>
    </div>

    <footer class="text-center">
    </footer>
</body>
</html>
