<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=320, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Colé de Merma do RU</title>
    <link rel="stylesheet" type="text/css" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/index.css">
</head>
<body>
    <header>
        <h1 class="header-main">
            Colé de merma do RU
        </h1>
    </header>
    <section class="container">
            <!-- <div class="row"> -->
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                <!-- </div>
                <div class="col-md-8"> -->
                    <span id="text-content">Compartilhe</span>
                    <span id="icon-min" class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                </div><!--
            </div>
            <div class="row"> -->
                <div class="col-md-12">
                    <a class="btn btn-default" href="#" role="button">Cadastrar</a>
                    <a class="btn btn-default" href="#" role="button">Conectar</a>
                </div>
            <!-- </div> -->
    </section>
    <footer class="footer-background" ></footer>
</body>
</html>
