<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=320, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Colé de Merma do RU</title>
    <link rel="stylesheet" type="text/css" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/index.css">
</head>
<body>
    <header>
        <h1 class="header-text">
            Colé de Merma do RU
        </h1>
    </header>

    <div class="wrapper">
        <section class="container">
            <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 txt-center">
                <div class="col-xs-4">
                    <span class="glyphicon glyphicon-share main-icon"></span>
                </div>
                <div class="col-xs-8">
                    <span class="">
                        Compartilhe
                        <span class="glyphicon glyphicon-map-marker another-icon"></span>
                    </span>
                </div>
            </div>
            <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 btn-pdg">
                <div class="col-xs-6"><a class="btn btn-default" href="profile.html" role="button">Sing up</a></div>
                <div class="col-xs-6"><a class="btn btn-default" href="login.html" role="button">Sing in</a></div>
            </div>
        </section>
    </div>

    <footer></footer>
</body>
</html>
