<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=320, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/login.css">
    <title>Login - Colé de merma do RU</title>
</head>
<body>
    <header>
        <h1 class="header-text">
            Colé de Merma do RU
        </h1>
    </header>

    <div class="wrapper">
        <section class="container">
            <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
                <div class="content-main">
                    <form action="statuses.html">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                </div>
                                <input name="email" type="email" placeholder="Email" class="form-control"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                                </div>
                                <input name="pass" type="password" placeholder="Senha" class="form-control"></input>
                            </div>
                        </div>
                        <div class="form-group button">
                            <div class="input-gorup">
                                <input id="" class="btn btn-default" type="submit" value="Logar">
                            </div>
                        </div>
                        <div class="form-group forgot">
                            <a class="" href="">Esqueci minha senha</a>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>

    <footer></footer>
</body>
</html>
