<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/login.css">
    <title>Login - Colé de merma do RU</title>
</head>
<body>
    <header>
        <h1 class="header-main">Login</h1>
    </header>
    <section class="container">
        <div class="col-md-6">
            <div class="content-main">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"></div>
                            <input name="email" type="email" placeholder="E-mail" class="form-control"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"></div>
                            <input name="pass" type="password" placeholder="senha" class="form-control"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-gorup">
                            <input id="button" class="btn btn-default" type="submit" value="Logar">
                        </div>
                    </div>
                    <div class="form-group">
                        <a class="forgot" href="">Esqueci minha senha</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <footer class="footer-background"></footer>
</body>
</html>
