<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/newstatus.css">
    <title>Novo Status</title>
</head>
<body>
    <header>
        <h1 class="header-main">
            <span></span>
            Novo Status
        </h1>
    </header>
    <section class="conteiner">
        <div class="col-md-12">
            <div class="">
                <div class="col-xs-4">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <label>novo</label>
                </div>
                <div class="col-xs-4">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <label>novo</label>
                </div>
                <div class="col-xs-4">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <label>novo</label>
                </div>
            </div>
            <div class="">
                <div class="col-xs-4">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <label>novo</label>
                </div>
                <div class="col-xs-4">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <label>novo</label>
                </div>
                <div class="col-xs-4">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <label>novo</label>
                </div>
            </div>
            <div class="">
                <div class="col-xs-4">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <label>novo</label>
                </div>
                <div class="col-xs-4">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <label>novo</label>
                </div>
                <div class="col-xs-4">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <label>novo</label>
                </div>
            </div>
        </div>
    </section>
    <div class="footer-menu">
            <!-- <ul class="nav nav-pills nav-justified"> -->
              <div class="col-xs-4">
              <!-- <li role="presentation"> --><a class="glyphicon glyphicon-home" href="#"></a><!-- </li> -->
              </div>
              <div class="col-xs-4">
              <!-- <li role="presentation"> --><a class="glyphicon glyphicon-send" href="#"></a><!-- </li> -->
              </div>
              <div class="col-xs-4">
              <!-- <li role="presentation"> --><a class="glyphicon glyphicon-user" href="#"></a><!-- </li> -->
              </div>
            <!-- </ul> -->
        </div>
</body>
</html>
