<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=320, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/newstatus.css">
    <title>Novo Status</title>
</head>
<body>
    <header>
        <h1 class="header-text">
            Colé de Merma do RU
        </h1>
    </header>

    <div class="wrapper">
        <section class="container">
            <div class="col-md-12">
                <div class="">
                    <div class="col-xs-4">
                        <a class="link-newstatus" href="">
                            <div class="icon-status">
                                <span class="glyphicon glyphicon-map-marker"></span>
                            </div>
                            <label class="text-content">Novo Status</label>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a class="link-newstatus" href="">
                            <div class="icon-status">
                                <span class="glyphicon glyphicon-map-marker"></span>
                            </div>
                            <label class="text-content">Novo Status</label>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a class="link-newstatus" href="">
                            <div class="icon-status">
                                <span class="glyphicon glyphicon-map-marker"></span>
                            </div>
                            <label class="text-content">Novo Status</label>
                        </a>
                    </div>
                </div>
                <div class="">
                    <div class="col-xs-4">
                        <a class="link-newstatus" href="">
                            <div class="icon-status">
                                <span class="glyphicon glyphicon-map-marker"></span>
                            </div>
                            <label class="text-content">Novo Status</label>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a class="link-newstatus" href="">
                            <div class="icon-status">
                                <span class="glyphicon glyphicon-map-marker"></span>
                            </div>
                            <label class="text-content">Novo Status</label>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a class="link-newstatus" href="">
                            <div class="icon-status">
                                <span class="glyphicon glyphicon-map-marker"></span>
                            </div>
                            <label class="text-content">Novo Status</label>
                        </a>
                    </div>
                </div>
                <div class="">
                    <div class="col-xs-4">
                        <a class="link-newstatus" href="">
                            <div class="icon-status">
                                <span class="glyphicon glyphicon-map-marker"></span>
                            </div>
                            <label class="text-content">Novo Status</label>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a class="link-newstatus" href="">
                            <div class="icon-status">
                                <span class="glyphicon glyphicon-map-marker"></span>
                            </div>
                            <label class="text-content">Novo Status</label>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a class="link-newstatus" href="">
                            <div class="icon-status">
                                <span class="glyphicon glyphicon-map-marker"></span>
                            </div>
                            <label class="text-content">Novo Status</label>
                        </a>
                    </div>
                </div>
                <div class="">
                    <div class="col-xs-4">
                        <a class="link-newstatus" href="">
                            <div class="icon-status">
                                <span class="glyphicon glyphicon-map-marker"></span>
                            </div>
                            <label class="text-content">Novo Status</label>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a class="link-newstatus" href="">
                            <div class="icon-status">
                                <span class="glyphicon glyphicon-map-marker"></span>
                            </div>
                            <label class="text-content">Novo Status</label>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a class="link-newstatus" href="">
                            <div class="icon-status">
                                <span class="glyphicon glyphicon-map-marker"></span>
                            </div>
                            <label class="text-content">Novo Status</label>
                        </a>
                    </div>
                </div>
                <div class="">
                    <div class="col-xs-4">
                        <a class="link-newstatus" href="">
                            <div class="icon-status">
                                <span class="glyphicon glyphicon-map-marker"></span>
                            </div>
                            <label class="text-content">Novo Status</label>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a class="link-newstatus" href="">
                            <div class="icon-status">
                                <span class="glyphicon glyphicon-map-marker"></span>
                            </div>
                            <label class="text-content">Novo Status</label>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a class="link-newstatus" href="">
                            <div class="icon-status">
                                <span class="glyphicon glyphicon-map-marker"></span>
                            </div>
                            <label class="text-content">Novo Status</label>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer class="text-center">
        <div class="col-xs-4">
            <a class="glyphicon glyphicon-home" href="statuses.html"></a>
        </div>
        <div class="col-xs-4">
            <a class="glyphicon glyphicon-send" href="newstatus.html"></a>
        </div>
        <div class="col-xs-4">
            <a class="glyphicon glyphicon-user" href="profile.html"></a>
        </div>
    </footer>
</body>
</html>
