<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/profile.css">
    <title>Informações</title>
</head>
<body>
    <header>
        <h1 class="header-main">
            <span class="glyphicon glyphicon-user"></span>
            Minhas Informações
        </h1>
    </header>
    <section class="container">
        <div class="col-md-6">
            <div class="content-main">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"></div>
                            <input name="name" type="text" placeholder="Nome" class="form-control"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"></div>
                            <input name="email" type="email" placeholder="E-mail" class="form-control"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"></div>
                            <input name="course" type="text" placeholder="Curso" class="form-control"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"></div>
                            <input name="pass" type="password" placeholder="Senha" class="form-control"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-gorup">
                            <input id="button" class="btn btn-default" type="submit" value="Enviar">
                        </div>
                    </div>
                    <div class="form-group">
                        <a class="forgot" href="">Esqueci minha senha</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- <div class="row"> -->
        <div class="col-md-3 footer-menu">
            <ul class="nav nav-pills nav-justified">
              <!-- <div class="col-md-1"> -->
              <li role="presentation"><a class="glyphicon glyphicon-home" href="#"></a></li>
              <!-- </div> -->
              <!-- <div class="col-md-1"> -->
              <li role="presentation"><a class="glyphicon glyphicon-send" href="#"></a></li>
              <!-- </div> -->
              <!-- <div class="col-md-1"> -->
              <li role="presentation"><a class="glyphicon glyphicon-user" href="#"></a></li>
              <!-- </div> -->
            </ul>
        </div>
    <!-- </div> -->
</body>
</html>
