<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/newstatus.css">
    <title>Novo Status</title>
</head>
<body>
    <header>
        <h1 class="header-main">
            <span></span>
            Novo Status
        </h1>
    </header>
    <section class="conteiner">
        <div class="col-md-12">
            <div class="">
                <div class="col-xs-4">
                    <a class="link-newstatus" href="">
                        <div class="icon-status">
                            <span class="glyphicon glyphicon-map-marker"></span>
                        </div>
                        <label class="text-content">Novo Status</label>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a class="link-newstatus" href="">
                        <div class="icon-status">
                            <span class="glyphicon glyphicon-map-marker"></span>
                        </div>
                        <label class="text-content">Novo Status</label>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a class="link-newstatus" href="">
                        <div class="icon-status">
                            <span class="glyphicon glyphicon-map-marker"></span>
                        </div>
                        <label class="text-content">Novo Status</label>
                    </a>
                </div>
            </div>
            <div class="">
                <div class="col-xs-4">
                    <a class="link-newstatus" href="">
                        <div class="icon-status">
                            <span class="glyphicon glyphicon-map-marker"></span>
                        </div>
                        <label class="text-content">Novo Status</label>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a class="link-newstatus" href="">
                        <div class="icon-status">
                            <span class="glyphicon glyphicon-map-marker"></span>
                        </div>
                        <label class="text-content">Novo Status</label>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a class="link-newstatus" href="">
                        <div class="icon-status">
                            <span class="glyphicon glyphicon-map-marker"></span>
                        </div>
                        <label class="text-content">Novo Status</label>
                    </a>
                </div>
            </div>
            <div class="">
                <div class="col-xs-4">
                    <a class="link-newstatus" href="">
                        <div class="icon-status">
                            <span class="glyphicon glyphicon-map-marker"></span>
                        </div>
                        <label class="text-content">Novo Status</label>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a class="link-newstatus" href="">
                        <div class="icon-status">
                            <span class="glyphicon glyphicon-map-marker"></span>
                        </div>
                        <label class="text-content">Novo Status</label>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a class="link-newstatus" href="">
                        <div class="icon-status">
                            <span class="glyphicon glyphicon-map-marker"></span>
                        </div>
                        <label class="text-content">Novo Status</label>
                    </a>
                </div>
            </div>
            <div class="">
                <div class="col-xs-4">
                    <a class="link-newstatus" href="">
                        <div class="icon-status">
                            <span class="glyphicon glyphicon-map-marker"></span>
                        </div>
                        <label class="text-content">Novo Status</label>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a class="link-newstatus" href="">
                        <div class="icon-status">
                            <span class="glyphicon glyphicon-map-marker"></span>
                        </div>
                        <label class="text-content">Novo Status</label>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a class="link-newstatus" href="">
                        <div class="icon-status">
                            <span class="glyphicon glyphicon-map-marker"></span>
                        </div>
                        <label class="text-content">Novo Status</label>
                    </a>
                </div>
            </div>
            <div class="">
                <div class="col-xs-4">
                    <a class="link-newstatus" href="">
                        <div class="icon-status">
                            <span class="glyphicon glyphicon-map-marker"></span>
                        </div>
                        <label class="text-content">Novo Status</label>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a class="link-newstatus" href="">
                        <div class="icon-status">
                            <span class="glyphicon glyphicon-map-marker"></span>
                        </div>
                        <label class="text-content">Novo Status</label>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a class="link-newstatus" href="">
                        <div class="icon-status">
                            <span class="glyphicon glyphicon-map-marker"></span>
                        </div>
                        <label class="text-content">Novo Status</label>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="footer-menu">
        <div class="col-xs-4 icon-menu">
            <a class="glyphicon glyphicon-home icon-style" href="statuses.html"></a>
        </div>
        <div class="col-xs-4 icon-menu">
            <a class="glyphicon glyphicon-send icon-style" href="newstatus.html"></a>
        </div>
        <div class="col-xs-4 icon-menu">
            <a class="glyphicon glyphicon-user icon-style" href="profile.html"></a>
        </div>
  </div>
</body>
</html>
