<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/statuses.css">
    <title>Home - Colé de merma RU</title>
</head>
<body>
    <header>
        <h1 class="header-main">
            <span></span>
            Title
        </h1>
    </header>
    <section class="conteiner">
        <div class="col-xs-12">
            <div class="col-xs-12 status">
                <div class="col-xs-12 status-top">
                    <div class="col-xs-4 icon-user">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <div class="col-xs-8 status-content">
                        <div class="status-content-meta">
                            <span class="user-name"> John Doe</span>
                            <span class="elapsed-time">2 min ago</span>
                        </div>
                        <div class="status-content-text">
                            <span>
                                Fila passando da biblioteca
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 status-bottom">
                    <div class="col-xs-4 status-action">
                        <label class="count-action">8</label>
                        <a class="link-action" href=""><span class="glyphicon glyphicon-thumbs-up"></span></a>
                        <!-- <span class="action-name">n</span> -->
                    </div>
                    <div class="col-xs-4 status-action">
                        <label class="count-action">3</label>
                        <a class="link-action" href=""><span class="glyphicon glyphicon-thumbs-down"></span></a>
                        <!-- <span class="action-name">n</span> -->
                    </div>
                    <div class="col-xs-4 status-action">
                        <label class="count-action">8</label>
                        <a class="link-action" href=""><span class="glyphicon glyphicon-retweet"></span></a>
                        <!-- <span class="action-name">n</span> -->
                    </div>
                </div>
            </div>
            <div class="col-xs-12 status">
                <div class="col-xs-12 status-top">
                    <div class="col-xs-4 icon-user">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <div class="col-xs-8 status-content">
                        <div class="status-content-meta">
                            <span class="user-name"> John Doe</span>
                            <span class="elapsed-time">2 min ago</span>
                        </div>
                        <div class="status-content-text">
                            <span>
                                Hoje só é soja
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 status-bottom">
                    <div class="col-xs-4 status-action">
                        <label class="count-action">8</label>
                        <a class="link-action" href=""><span class="glyphicon glyphicon-thumbs-up"></span></a>
                        <!-- <span class="action-name">n</span> -->
                    </div>
                    <div class="col-xs-4 status-action">
                        <label class="count-action">3</label>
                        <a class="link-action" href=""><span class="glyphicon glyphicon-thumbs-down"></span></a>
                        <!-- <span class="action-name">n</span> -->
                    </div>
                    <div class="col-xs-4 status-action">
                        <label class="count-action">8</label>
                        <a class="link-action" href=""><span class="glyphicon glyphicon-retweet"></span></a>
                        <!-- <span class="action-name">n</span> -->
                    </div>
                </div>
            </div>
            <div class="col-xs-12 status">
                <div class="col-xs-12 status-top">
                    <div class="col-xs-4 icon-user">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <div class="col-xs-8 status-content">
                        <div class="status-content-meta">
                            <span class="user-name"> John Doe</span>
                            <span class="elapsed-time">2 min ago</span>
                        </div>
                        <div class="status-content-text">
                            <span>
                                Acabou as fichas
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 status-bottom">
                    <div class="col-xs-4 status-action">
                        <label class="count-action">8</label>
                        <a class="link-action" href=""><span class="glyphicon glyphicon-thumbs-up"></span></a>
                        <!-- <span class="action-name">n</span> -->
                    </div>
                    <div class="col-xs-4 status-action">
                        <label class="count-action">3</label>
                        <a class="link-action" href=""><span class="glyphicon glyphicon-thumbs-down"></span></a>
                        <!-- <span class="action-name">n</span> -->
                    </div>
                    <div class="col-xs-4 status-action">
                        <label class="count-action">8</label>
                        <a class="link-action" href=""><span class="glyphicon glyphicon-retweet"></span></a>
                        <!-- <span class="action-name">n</span> -->
                    </div>
                </div>
            </div>
            <div class="col-xs-12 refresh">
                <span class="glyphicon glyphicon-refresh"></span>
            </div>
        </div>
    </section>
    <div class="footer-menu">
        <div class="col-xs-4 icon-menu">
            <a class="glyphicon glyphicon-home icon-style" href="statuses.html"></a>
        </div>
        <div class="col-xs-4 icon-menu">
            <a class="glyphicon glyphicon-send icon-style" href="newstatus.html"></a>
        </div>
        <div class="col-xs-4 icon-menu">
            <a class="glyphicon glyphicon-user icon-style" href="profile.html"></a>
        </div>
  </div>
</body>
</html>
