<header class="navbar navbar-fixed-top">
    <h1 class="header-text glyphicon glyphicon-home">
      Home
        <% if signed_in? %>
            <%= link_to "",  signout_path, method: "delete", class: "glyphicon glyphicon-off" %>
        <% end %>
    </h1>
</header>
